/DesignDocs
/.DS_Store
/complexity_rce_app/backend/venv
/complexity_rce_app/backend/venv/
/.vscode
/complexity_rce_app/backend/__pycache__
/complexity_rce_app/backend/app/__pycache__
__pycache__
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

typings

.env