body {
  background-color: #282c34;
  color: #f4f4ec;
  padding: 10px;
  font-family: Arial;
  text-align: left;
}

/* CONTENT */
div.content {
    display: flex;
    gap: 1rem;
}

.content > * {
    flex: 1;
    text-align: left;
}

/* Stack vertically on smaller screens */
@media (max-width: 768px) {
    div.content {
        flex-direction: column;
    }

    .content > * {
        width: 100%;
    }
}
.input-parameters{
    display:grid;
    padding-right: 40%;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    padding-top: 5px;
    color: white;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.footer ul li {
  margin: 8px 0;
}

.footer ul a{
text-decoration:none;
color:gray;
transition:0.5s;
}


.footer ul a:hover{
color:#b759f5;
}


