body {
  background-color: #282c34;
  color: #f4f4ec;
  padding: 20px;
  font-family: Arial;
  text-align: left;
   align-items: center;
}

/* CONTENT */
div.content {
    display: flex;
    gap: 1rem;
}

.content > * {
    flex: 1;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

/* Stack vertically on smaller screens */
@media (max-width: 768px) {
    div.content {
        flex-direction: column;
    }

    .content > * {
        width: 100%;
    }
}
.parameters{
    display:grid;
    padding-right: 40%;
    list-style: none;
}

.parameters li{
    margin: 4px 0;
}

footer{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    padding-top: 10%;
    color: white;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.footer ul li {
  margin: 8px 0;
}

.footer ul a{
text-decoration:none;
color:gray;
transition:0.5s;
}


.footer ul a:hover{
color:#b759f5;
}

.loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid #b759f5; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

